<!doctype html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link href="https://fonts.googleapis.com/css?family=Roboto:300,400&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css?family=Poppins:300,400,500&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{{ asset('assets/calendar/fonts/icomoon/style.css') }}">

    <link rel="stylesheet" href="{{ asset('assets/calendar/css/rome.css') }}">


    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="{{ asset('assets/calendar/css/bootstrap.min.css') }}">

    <!-- Style -->
    <link rel="stylesheet" href="{{ asset('assets/calendar/css/style.css') }}">

    <title>Calendar #7 (inline)</title>
</head>
<body>

{% block body %}
{% endblock %}




</body>

<script src="{{ asset('assets/calendar/js/jquery-3.3.1.min.js') }}"></script>
<script src="{{ asset('assets/calendar/js/popper.min.js') }}"></script>
<script src="{{ asset('assets/calendar/js/bootstrap.min.js') }}"></script>
<script src="{{ asset('assets/calendar/js/rome.js') }}"></script>

<script src="{{ asset('assets/calendar/js/main.js') }}"></script>
{% block javascripst %}
{% endblock %}
</html>